# .NET
bin/
obj/
*.user
*.suo
.vs/

# Build outputs
out/
publish/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Logs
*.log
logs/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
*.tmp
*.swp

# IDE
.vscode/
.idea/

# Blazor WASM
/frontend/RSSFeedReader.UI/wwwroot/_framework/
